
body {
  text-align: center;
  background: url("https://www.telegraph.co.uk/content/dam/Food%20and%20drink/2015-11/05nov/toastfront.jpg?imwidth=1400");
  background-position: center;
  color: white;
  font-family: helvetica;
}
p {
  font-size: 22px;
  color: white;
}
input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}
input[type="submit"] {
  background: red;
  color: white;
}

ul li {
  position: center;
}

ol li {
  position: center;
}
